.appstore{
    height: 250px;
    position: relative;
    background-color: rgb(229, 229, 229);
   p{
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
   } 
   span{
    font-size: 15px;
    font-weight: 400;
    font-family: "khula",sans-serif;
    opacity: 0.5;
   }
   .browser{
    position: relative;
    margin-top: 50px;
    button{
        border: none;
        margin-right: 20px;
        position: absolute;
        left: 140px;
        top: 20px;
        gap: 20px;
      
    }
    .but2{
       margin-left: 150px;
    }
    .but3{
        margin-left: 300px;
    }
   }
   .phone{
    height: 250px;
    position: relative;
    img{
        position: absolute;
        right: 0;
        bottom: 0;
    }
   }
}