.price{
    p{
        font-family: "khula",sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-top: 100px;
    }
   .label{
    label{
        color: #000000;
        transition: all 1s;
        padding: 5px 10px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        gap: 20px;
        cursor: pointer;

    }
    input{
        appearance:none;
        transition: all 1s;
    }
    input:checked+label{
        background-color: rgb(0, 0, 0);
        color: #fff;
        padding: 5px 10px;
        border-radius: 30px;

    }
    }
   
   
   } 
